---
import Layout from '../layouts/Layout.astro';
import '../styles/game.css';

import StartScreen from '../components/StartScreen.astro';
import MapScreen from '../components/MapScreen.astro';
import DetailOverlay from '../components/DetailOverlay.astro';
import QuizScreen from '../components/QuizScreen.astro';
import RegisterScreen from '../components/RegisterScreen.astro';
import ThanksScreen from '../components/ThanksScreen.astro';
---

<Layout>
	<div id="app">
		<StartScreen />
		<MapScreen />
		<DetailOverlay />
		<QuizScreen />
		<RegisterScreen />
		<ThanksScreen />
	</div>
</Layout>

<script>
	import { initGame } from '../scripts/game';
	initGame();
</script>
