---
---

<!-- Mapa interactivo -->
<section class="screen" data-screen="map">
	<div class="map-screen">
		<div class="map-title" id="btn-test">
			PONTE A PRUEBA
		</div>
		<div class="map-background">
			<div class="map-points" id="map-points"></div>
		</div>
	</div>
</section>
